body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

.panel {
  margin-bottom: 10px;
  font-size: 22px;
}

#balance {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 8px 15px;
  font-size: 18px;
  width: 120px;
  border-radius: 8px;
  border: 2px solid #888;
  outline: none;
}

button {
  padding: 15px 40px;
  font-size: 24px;
  background: #00ff00;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

button:hover {
  background: #00cc00;
}

.slot-machine {
  width: 350px;
  height: 350px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  background: rgb(70,70,120);
  border-radius: 10px;
  padding: 10px;
}

.column {
  width: 110px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 5px;
}

.emoji {
  width: 100%;
  height: 100px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  border-radius: 10px;
  box-shadow: 0 0 5px #333;
}

.win {
  background: #7aff7a !important;
  box-shadow: 0 0 10px #0f0 !important;
}

.hidden {
  display: none;
}

#result {
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
}

@media (max-width: 500px) {
  .slot-machine {
      width: 260px;
      height: 260px;
  }
  .column {
      width: 80px;
      height: 240px;
  }
  .emoji {
      height: 75px;
      font-size: 45px;
  }
}
